* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #5eabcc, #066272); /* #4692b3, #6fcdf5)*/
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    line-height: 1.5em;
    text-align: justify;
}

header {
    background-color: #066272;
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 5px white;
    line-height: 2.5em;
    text-align: center;
}

.headerContainer {
    background-color: #066272;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    padding: 20px;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo h1 {
    font-size: 2em;
    margin-bottom: 0px;
}

.fab {
    color: #F7DF1E;
    font-size: 2.5em;
    margin-right: 20px;
    text-shadow: black 3px 3px 2px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 20px;
}

h2 {
    text-shadow: 2px 2px 1px black;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-top: 20px;;
}

img {
    width: 300px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 2px 2px 3px black;
    margin: 20px;
    display: inline;
}

.img_cod {
    width: 700px;
    border: 3px solid white;
    box-shadow: 3px 3px 3px black;
}

.container {
    padding: 20px 40px 30px 40px;
    margin: 20px;
}

a {
    box-shadow: 4px 4px 3px black;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin: 10px 0px;
    line-height: 1em;
}

a:hover {
    color: black;
    background-color: white;
    transition: .5s;
}

#resultado {
    margin-top: 20px;
}

ul {
    margin-left: 30px;
}

.botao {
    box-shadow: 3px 3px 3px black;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    margin: 20px 0px;
    font-weight: bold;
}

.botao:hover {
    background-color: #0c7af7;
    color: white;
    transition: .2s;
}

@media (max-width: 1000px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .container {
        border-radius: 10px;
        padding: 0px 20px 30px 25px;
        margin: 10px;
        text-align: left;
    }

    .container p {
        text-align: justify;
    }

    ul {
        color: white;
        margin-left: 20px;
    }

    #logo h1 {
        margin-bottom: 10px;
    }
    
    .fab {
        margin-bottom: 10px;
    }

    h1 {
        line-height: 1.5em;
    }
    
    h2 {
        line-height: 1.5em;
    }
}

@media (max-width: 800px) {
    img {
        max-width: 90%;
        border-radius: 10px;
        border: 2px solid white;
        box-shadow: 2px 2px 3px black;
        margin: 10px;
    }
    
    .img_cod {
        max-width: 90%;
        border: 3px solid white;
        box-shadow: 3px 3px 3px black;
    }
}