@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Patrick+Hand&display=swap');

@font-face {
    font-family: 'Lemon Friday';
    src: url('fontes/Lemon\ Friday.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(to top, #4692b3, #6fcdf5);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-align: justify;
    justify-content: center;
}

header {
    background-color: rgb(12, 122, 247);
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 5px white;
    line-height: 2.5em;
    text-align: center;
}

.headerContainer {
    background-color: rgb(12, 122, 247);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    padding: 20px;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo h1 {
    font-size: 2em;
}

.fab {
    color: #F7DF1E;
    font-size: 2.5em;
    margin-right: 20px;
    text-shadow: black 3px 3px 2px;
}

nav a {
    box-shadow: 4px 4px 3px black;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin: 10px 0px;
    line-height: 1em;
}

nav a:hover {
    background-color: white;
    color: black;
    font-size: 18px;
    margin: 10px 0px;
    padding: 10px 15px 10px 15px;
    transition: 0.5s;
}

main {
    margin: 0 auto;
    max-width: 620px;
}

.container {
    background-color: rgb(12, 122, 247);
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 5px 5px;
    box-shadow: white 0 0 10px;
    padding: 0px 40px 30px 40px;
    margin: 20px;
    max-width: 600px;
}

h1 {
    color: white;
    font-size: 2em;
    text-shadow: black 3px 3px 2px;
}

h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 30px;
    text-shadow: black 3px 3px 2px;
}

.pMaior {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.5em;
}

.pMaior a {
    text-decoration: none;
    color: lightgray
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    border-radius: 3px;
    color: black;
    padding: 3px 10px;
    transition: .2s;
}

ul {
    color: white;
    margin-left: 40px;
}

@media (max-width: 1200px) {
    .headerContainer {
        display: flex;
        flex-direction: column;

    }

    #logo h1 {
        margin-bottom: 10px;
    }

    .fab {
        margin-bottom: 11px;
    }
}

@media (max-width: 800px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #logo h1 {
        margin-bottom: 10px;
    }

    .container {
        border-radius: 10px;
        padding: 0px 20px 30px 25px;
        margin: 10px;
        text-align: left;
    }

    ul {
        color: white;
        margin-left: 20px;
    }

    .fab {
        display: none;
    }
}
